version: '2.1'
volumes:
  database_data:
    driver: local
networks:
  default:
    driver: bridge
  external:
    external:
      name: rnet
services:
  itag:
    image: jjrom/itag:5.0
    restart: always
    build:
      context: ./
      dockerfile: ./build/itag/Dockerfile
    depends_on:
      - itagdb
    networks:
      - external
      - default
    ports:
      - ${ITAG_EXPOSED_PORT:-1212}:80
    env_file:
      - ${ENV_FILE:-config.env}
    environment: 
      ### Set to 0 in production environment to activate opcache
      - ITAG_DEBUG_MODE=0
      ### Server configuration (uncomment to change values) 
      #- PHP_FPM_MAX_CHILDREN=4096
      #- PHP_FPM_START_SERVERS=20
      #- PHP_FPM_MAX_REQUESTS=1024
      #- PHP_FPM_MIN_SPARE_SERVERS=5
      #- PHP_FPM_MAX_SPARE_SERVERS=128
      #- PHP_FPM_MEMORY_LIMIT=256M
      #- PHP_FPM_MAX_EXECUTION_TIME=60
      #- PHP_FPM_UPLOAD_MAX_FILESIZE=20M
      #- PHP_OPCACHE_MEMORY_CONSUMPTION=128
      #- PHP_OPCACHE_INTERNED_STRINGS_BUFFER=16
      #- PHP_OPCACHE_MAX_WASTED_PERCENTAGE=5
      #- NGINX_FASTCGI_BUFFERS=8 16k
      #- NGINX_FASTCGI_BUFFER_SIZE=32k
      #- NGINX_FASTCGI_BUSY_BUFFERS_SIZE=32k
      #- NGINX_FASTCGI_CONNECT_TIMEOUT=60s
      #- NGINX_FASTCGI_SEND_TIMEOUT=60s
      #- NGINX_FASTCGI_READ_TIMEOUT=60s
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1/?geometry=POINT(0 0)"]
      interval: 1m
      timeout: 5s
  itagdb:
    image: jjrom/itag-database:5.0
    restart: always
    build:
      context: ./
      dockerfile: ./build/itag-database/Dockerfile
    command: docker-entrypoint.sh -c config_file=/etc/postgresql.conf
    env_file:
      - ${ENV_FILE:-config.env}
    environment:
      - POSTGRES_USER=${ITAG_DATABASE_USER_NAME:-itag}
      - POSTGRES_PASSWORD=${ITAG_DATABASE_USER_PASSWORD:-itag}
      - POSTGRES_DB=${ITAG_DATABASE_NAME:-itag}
      ### Server configuration (uncomment to change values)
      #- POSTGRES_MAX_CONNECTIONS=300
      #- POSTGRES_DEFAULT_STATISTICS_TARGET=100
      #- POSTGRES_SHARED_BUFFERS=8GB
      #- POSTGRES_WORK_MEM=320MB
      #- POSTGRES_WALL_BUFFERS=32MB
      #- POSTGRES_MAINTENANCE_WORK_MEM=1GB
      #- POSTGRES_EFFECTIVE_CACHE_SIZE=32GB
      #- POSTGRES_RANDOM_PAGE_COST=1.5
      #- POSTGRES_SYNCHRONOUS_COMMIT=off
      #- POSTGRES_LOG_MIN_DURATION_STATEMENT=300
      #- POSTGRES_AUTOVACUUM=on
    ports:
      - ${ITAG_DATABASE_EXPOSED_PORT:-1213}:5432
    networks:
      - default
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${ITAG_DATABASE_USER_NAME:-itag}"]
      interval: 1m
      timeout: 5s
    volumes:
      - database_data:/var/lib/postgresql/data
